{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Bitte geben und bestätigen sie das neue Passwort.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Neues Passwort:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Passwort bestätigen:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Passwort Rücksetzung fehlgeschlagen</h1>
        <p>Der Link zur Rücksetzung des Passworts ist fehlerhaft. Bitte eine erneute Passwortrücksetzung anfordern.</p>
    {% endif %}
{% endblock %}