{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Frage löschen</h2>
<div class="container ">
    <div class="row justify-content-md-center">
		<div class="col-sm-6">
            <form action="" method="post">{% csrf_token %}
                <p>Bist du sicher das du diese Frage löschen willst?</p>
                <p><strong>{{ frage.name }} - {{ frage.kurs }}</strong></p>
                <a class="btn btn-secondary btn-sm" href="{% url 'frage_detail' frage.pk %}">Zurück</a>
                <button type="submit btn-sm" class="btn btn-danger btn-sm">Löschen</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}